[submodule ".vim/bundle/jslint.vim"]
	path = .vim/bundle/jslint.vim
	url = git@github.com:hallettj/jslint.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/puppet-syntax-vim"]
	path = .vim/bundle/puppet-syntax-vim
	url = git@github.com:puppetlabs/puppet-syntax-vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule ".vim/plugin/vim-bufonly"]
	path = .vim/plugin/vim-bufonly
	url = git@github.com:duff/vim-bufonly.git
[submodule ".vim/plugin/ScrollColors"]
	path = .vim/plugin/ScrollColors
	url = git@github.com:vim-scripts/ScrollColors.git
