[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-bufonly"]
	path = .vim/bundle/vim-bufonly
	url = git@github.com:duff/vim-bufonly.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/vim-bats"]
	path = .vim/bundle/vim-bats
	url = git@github.com:vim-scripts/bats.vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/bundle/vim-typescript"]
	path = .vim/bundle/vim-typescript
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-elm"]
	path = .vim/bundle/vim-elm
	url = git@github.com:lambdatoast/elm.vim.git
[submodule ".vim/bundle/vim-plantuml"]
	path = .vim/bundle/vim-plantuml
	url = git@github.com:aklt/plantuml-syntax.git
[submodule ".vim/bundle/vim-slumlord"]
	path = .vim/bundle/vim-slumlord
	url = git@github.com:scrooloose/vim-slumlord.git
[submodule ".vim/bundle/vim-boxdraw"]
	path = .vim/bundle/vim-boxdraw
	url = git@github.com:gyim/vim-boxdraw.git
[submodule ".vim/bundle/vim-jsonnet"]
	path = .vim/bundle/vim-jsonnet
	url = git@github.com:google/vim-jsonnet.git
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/bundle/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule ".vim/bundle/vim-mote"]
	path = .vim/bundle/vim-mote
	url = git@github.com:rodrim3n/vim-mote.git
