[user]
  name = trotttrotttrott
  email = trott@odaacabeef.com

[core]
  quotepath = false
  excludesfile = ~/.gitignore
  pager = "/usr/bin/less -RciqMSj5"
  editor = vim

[color]
  diff = auto
  branch = auto
  status = auto

[diff]
  renames = true

[alias]
  b = branch
  t = tag
  st = status
  ci = commit -v
  co = checkout
  l = log
  ll = log -p
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ign = ls-files -o -i --exclude-standard # Show files ignored by git:
[heroku]
  account = personal
