[alias]
  b = branch
  ci = commit -v
  co = checkout
  l = log
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ll = log -p
  ign = ls-files -o -i --exclude-standard # Show files ignored by git:
  st = status
  t = tag
  rps = rev-parse --short HEAD

[color]
  branch = auto
  diff = auto
  status = auto

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  ignorecase = false
  quotepath = false

[diff]
  renames = true

[heroku]
  account = personal

[user]
  name = Chris Trott
  email = 908409+trotttrotttrott@users.noreply.github.com
