[alias]
  b = branch
  ci = commit -v
  co = checkout
  l = log
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ll = log -p
  ign = ls-files -o -i --exclude-standard # Show files ignored by git:
  st = status
  t = tag

[color]
  branch = auto
  diff = auto
  status = auto

[core]
  editor = vim
  excludesfile = ~/.gitignore
  pager = "/usr/bin/less -RciqMSj5"
  quotepath = false

[diff]
  renames = true

[heroku]
  account = personal

[user]
  name = trotttrotttrott
  email = trott@odaacabeef.com

